### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#using nunique I find the number of unique screen names 
Total_Players = purchase_data.nunique()["SN"]

In [5]:
#set up our dataframe
Total_Players_df = pd.DataFrame({"Total Players": Total_Players}, index = [0])

#prints our dataframe
Total_Players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#using nunique I find the unique number of items
Unique_Items = purchase_data.nunique()["Item Name"]

In [7]:
#finds average price for items
Avg_Price = purchase_data["Price"].mean()

In [8]:
#finds the number of purchases
Num_of_Purchases = purchase_data["Purchase ID"].count()

In [9]:
#finds the total revenue 
Total_Revenue = purchase_data["Price"].sum()

In [10]:
#creates our dataframe
Purchase_Total = pd.DataFrame({"Number of Unique Items": Unique_Items, "Average Price": Avg_Price, 
                               "Number of Purchases": Num_of_Purchases, "Total Revenue": Total_Revenue}, index = [0])

#formats our dataframe
Purchase_Total.style.format({"Number of Unique Items": "{:}", "Average Price": "${:.2f}", 
                               "Number of Purchases": "{:}", "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
Gender_Demo = purchase_data.groupby("Gender")

In [12]:
#counts how many players we have
#in particular we are interested in the "SN" column to find how many unique players there are
gender_count = Gender_Demo.nunique()["SN"]

In [13]:
#finds the percent of each gender based off the total amount players
perc_gender = gender_count/Total_Players*100

In [14]:
#creates our dataframe
#we use the "SN" columns because we want unique players
Gender_Summary = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": perc_gender})

#removes the index in the corner
Gender_Summary.index.name = None

#sorts and formats our dataframe
Gender_Summary.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#counting how many purchases were made based off gender
gender_purchase_count = Gender_Demo["Gender"].count()

In [16]:
#finds the average amount spent for each gender
avg_purchase_price = Gender_Demo["Price"].mean()

In [17]:
#finds how much each gender spent in total
total_purchase_value = Gender_Demo["Price"].sum()

In [18]:
#finds the average purchase price per person by gender
avg_purchase_per_person = total_purchase_value/gender_count

In [19]:
#creates our dataframe
Purchasing_Analysis_Gender = pd.DataFrame({"Purchase Count": gender_purchase_count, 
                                           "Average Purchase Price": avg_purchase_price,
                                          "Total Purchase Value": total_purchase_value,
                                           "Avg Total Purchase per Person": avg_purchase_per_person})
#formats our dataframe
Purchasing_Analysis_Gender.style.format({"Purchase Count": "{:}", 
                                        "Average Purchase Price": "${:.2f}",
                                        "Total Purchase Value": "${:,.2f}",
                                        "Avg Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#create bin labels 
age_bins_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [21]:
#creates a new column for our age bins 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels = age_bins_name)

#group by ages
purchase_data_age_group = purchase_data.groupby(["Age Group"])

In [22]:
#finds how many players are in each age group
unique_age = purchase_data_age_group.nunique()["SN"]

In [23]:
#finds the % of players in each age group
percent_age = unique_age/Total_Players*100

In [24]:
#creates our data frame
Age_Summary = pd.DataFrame({"Total Count": unique_age, "Percentage of Players": percent_age})

#removes the index in the corner
Age_Summary.index.name = None

#formats our age summary
Age_Summary.style.format({"Total Count": "{:}", "Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#counts how many purchases were made in each age group
age_purchase_count = purchase_data_age_group["Purchase ID"].count()

In [26]:
#finds average purchase price per the age group
age_avg_purchase_price = purchase_data_age_group["Price"].mean()

In [27]:
#finds how much was spent within a certain age group
age_total_purchase = purchase_data_age_group["Price"].sum()

In [28]:
#finds the avg purchase per person in the age group
age_total_per_person = age_total_purchase/unique_age

In [29]:
#creates our dataframe
Purchase_Age_Summary = pd.DataFrame({"Purchase Count": age_purchase_count, 
                                     "Average Purchase Price": age_avg_purchase_price, 
                                     "Total Purchase Value": age_total_purchase,
                                     "Avg Total Purchase per Person": age_total_per_person})
#formats our dataframe
Purchase_Age_Summary.style.format({"Purchase Count": "{:}", 
                                     "Average Purchase Price": "${:.2f}", 
                                     "Total Purchase Value": "${:,.2f}",
                                     "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
#groups by SN 
Spenders = purchase_data.groupby("SN")

In [31]:
#counts how many items each player bought
SN_purchase_count = Spenders["SN"].count()

In [32]:
#finds the average price of the item each player bought
SN_avg_purchase_price = Spenders["Price"].mean()

In [33]:
#finds how much each player spent
SN_total_purchase_value = Spenders["Price"].sum()

In [34]:
#Whale is a slang term for someone who spends a lot on games
#set up our dataframe
Whales = pd.DataFrame({"Purchase Count": SN_purchase_count,
                       "Average Purchase Price": SN_avg_purchase_price,
                       "Total Purchase Value": SN_total_purchase_value})
#format and sort our dataframe to show our top 5 whales
Whales.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Purchase Count": "{:}", 
                                                                              "Average Purchase Price": "${:.2f}", 
                                                                              "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
#groups by item ID and item name
Items = purchase_data.groupby(["Item ID", "Item Name"])

In [36]:
#counts how many of each items were purchased
item_purchase_count = Items["Purchase ID"].count()

In [37]:
#finds how much each item made
item_total_value = Items["Price"].sum()

In [38]:
#finds how much each item will cost
item_price = item_total_value/item_purchase_count

In [56]:
#creates our dataframe 
Most_Popular = pd.DataFrame({"Purchase Count": item_purchase_count,
                             "Item Price": item_price, 
                            "Total Purchase Value": item_total_value})

#sorts and formats our items by "Purchase Count" so we can see which items were the most popular
Most_Popular.sort_values(["Purchase Count"], ascending = False).head().style.format({"Purchase Count": "{:}", 
                                                                                          "Item Price": "${:.2f}", 
                                                                                          "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [42]:
#sorts and formats our previous data frame by "Total Purchase Value" so we can see which items were the most profitable 
Most_Popular.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Purchase Count": "{:}", 
                                                                                          "Item Price": "${:.2f}", 
                                                                                          "Total Purchase Value": "${:.2f}"})